@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.fontStyle{
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;

}
.bg-h{
   background: linear-gradient(#1E2A5E , #55679C);
}

a::selection{
    color: #FFDFD6;
    background-color:#E3A5C7;
    font-weight: 900;
}

body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(83, 4, 4),yellow,pink, lightblue,black,gray);
    border-radius: 30px;
}

body {
   background: linear-gradient(#7C93C3 , #E1D7B7);
    color: #fff;
    min-height: 100vh;
}
.p-card{
    border: 8px solid gray;
    border-radius: 20px;
    /* background-color: pink; */
    background: linear-gradient(#7C93C3 , #E1D7B7);
}
.p-last{
    border: 5px solid gray;
    border-radius: 20px;
}
.selectedImg{
    border: 10px solid black;
}
.bg-img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.image-list-selected{
    border: 2px solid black;
}